<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-info alert-dismissible fade show" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <h2><%=@article.title%></h2>
  <section>
    <p><%=@article.content%></p>
  </section>
  <section>
    <%= link_to edit_article_path(@article) do %>
    <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </section>

</div>
